@*@{
    ViewBag.Title = "Home Page";
}*@

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">       
        
    </div>
    <div class="col-md-4">       
        <p><a class="btn btn-default" href="../History/">GESTION DES DOSSIERS &raquo;</a></p>
    </div>
    <div class="col-md-4">        
        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Car/">GESTION DES VOITURES &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Brand/">GESTIONS DES MARQUES &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Model">GESTION DES MODELES &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Equipement/">GESTIONS DES EQUIPEMENTS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Charge/">GESTION DES FRAIS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Provider">GESTION DES FOURNISSEURS &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Seller/">GESTIONS DES VENDEURS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Buyer/">GESTIONS DES ACHETEURS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../User/">GESTIONS DES UTILISATEURS &raquo;</a></p>
    </div>
</div>